body {
  font-family: sans-serif;
  background: #f5f5f5;
}

.container {
  width: 320px;
  margin: 40px auto;
  padding: 20px;
  background: white;
  border-radius: 12px;
  text-align: center;
}

input, select, button {
  width: 100%;
  margin: 10px 0;
  padding: 8px;
}

.avatar img {
  width: 200px;
  margin-top: 20px;
}